POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_database
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DATABASE_URL=postgresql://your_user:your_password@localhost:5432/your_database
OPENAI_API_KEY=fake
DEBUG=False
OSO_API_KEY=fake
OSO_URL=https://cloud.osohq.com
DEV_OSO_URL=http://localhost:8081
